<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="FitSL"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGymApp"
        tools:targetApi="31">
        <activity
            android:name=".Gym_pro"
            android:exported="false" />
        <activity
            android:name=".Sign_in"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".Workout"
            android:exported="false" />
        <activity
            android:name=".Routine"
            android:exported="false" />
        <activity
            android:name=".Role"
            android:exported="false" />
        <activity
            android:name=".Zumba"
            android:exported="false" />
        <activity
            android:name=".Boxing"
            android:exported="false" />
        <activity
            android:name=".Cycling"
            android:exported="false" />
        <activity
            android:name=".cardio"
            android:exported="false" />
        <activity
            android:name=".Yoga"
            android:exported="false" />
        <activity
            android:name=".events"
            android:exported="false" />
        <activity
            android:name=".user_menu"
            android:exported="false" />
        <activity
            android:name=".gym_profile"
            android:exported="false" />
        <activity
            android:name=".gym_user"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gym_list"
            android:exported="false" />
        <activity
            android:name=".add_gym"
            android:exported="false" />
    </application>

</manifest>